body{background-color: rgb(204, 208, 207);}
h1 {color: rgb(73, 73, 163);}
h2 {color: aquamarine;}
img {border: 10px solid black;}
p {text-decoration-color: blueviolet;text-decoration: double; text-align: center;}